@import "variables";
body {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  animation-delay: .3s;
  &.is_loading {
    opacity: 0;
  }
}

.hero {
  padding: 14vh 0;
}

@media (min-width: 750px) {
  .hero {
    padding: 14vh 0;
  }
}

@media (min-width: 1000px) {
  .hero {
    padding: 20vh 0;
  }
}

#results, #waiting {
  display: none;
}

header {
  text-align: center;
}

h1 {
  color: #666;
  font-size: 3rem;
}

#logo a{
  @extend h1;
  text-decoration: none;
  transition: .2s;
  &:visited, &:active{
    color: inherit;
  }
  &:hover{
    color: $primary_color;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dfdfdf;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #dfdfdf;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #dfdfdf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dfdfdf;
}


.url-form {
  .input-text {
    color: #666;
  }
}


.button-primary {
  position: relative;

  &.is-loading{
    color: transparent !important;
    pointer-events: none;
    &::after {
      animation: spinAround 500ms infinite linear;
      animation-duration: 250ms;
      border: 2px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      left: 50%;
      margin-left: -8px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


#results {
  opacity: 0;
  animation-fill-mode: forwards;
  &.fadeIn {
    animation: fadeIn 1s;
    opacity: 1;
  }
}

#waiting {
  opacity: 0;
  animation-fill-mode: forwards;
  &.fadeIn {
    animation: fadeIn 1s;
    opacity: 1;
  }
}

.loading {
  text-align: center;
}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 50px auto;
  background: $primary_color;
  border-radius: 50px;
  -webkit-animation: loader 0.9s infinite alternate;
  -moz-animation: loader 0.9s infinite alternate;
}
.loading span:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}
.loading span:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

.download_preview {
  img {
    border: 1px solid #ccc;
  }
  .download-button {
    margin-top: 1em;
  }
  .result-author {
    font-weight: bold;
  }
  .result-description {
    font-size: 1.25rem;
    color: #666;
  }
}


