<div id="results" class="row fadeIn" style="display: block;"><div class="response-error">Enter a facebook.com URL.</div></div>

<div id="waiting" class="row fadeIn" style="display: block;">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="download_preview">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <check if="{{@result.thumbnail}}">
                    <true>
                        <img src="{{@result.thumbnail}}" referrerpolicy="no-referrer"/>
                    </true>
                </check>
            </div>
            <div class="eight columns">
                <div class="result result-author">{{@result.author}}</div>
                <span  class="result result-description">{{@result.description}}</span>
                <div class="download-button">
                    <a referrerpolicy="no-referrer" href="{{@result.source}}" class="button download button-primary">Download video</a>
                </div>
            </div>
        </div>
    </div>
</div>

