<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<check if="{{@dns_preload}}">
		<true>
			<link rel="dns-prefetch" href="{{@dns_preload}}">
		</true>
	</check>
	<link rel="stylesheet" type="text/css" href="{{@asset_path}}css/style.min.css" />
	<script defer src="{{@asset_path}}js/zepto.min.js"></script>
	<script defer src="{{@asset_path}}js/script.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title id="page_title">{{@page_title}}</title>
	<link id="favicon" rel="icon" type="image/png" href="{{@favicon}}">
	<meta name="author" content="Ayesh Karunaratne" />
	<meta id="meta_description" name="description" content="{{@meta_description}}"/>
	<meta id="meta_keywords" name="description" content="{{@meta_keywords}}"/>
	<check if="{{@meta_robots}}">
		<true>
			<meta id="meta_robots" name="robots" content="{{@meta_robots}}">
		</true>
	</check>
</head>
<body class="{{@body_classes}} is_loading">
<div class="section hero">
	<div class="container">
		<header class="row">
			<div class="column">
				<div id="logo"><a href="{{@base_path}}">{{@site_name}}</a></div>
			</div>
		</header>
		<div class="row">
			<div class="column">
				<h3 class="subtitle is-3">
					{{@ErrorContents.status}}
				</h3>
				<h6 class="subtitle is-4">
					{{@ErrorContents.text}}
				</h6>
			</div>
		</div>
	</div>
</div>
</body>
</html>
