<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<check if="{{@dns_preload}}">
		<true>
			<link rel="dns-prefetch" href="{{@dns_preload}}">
		</true>
	</check>
	<link rel="stylesheet" type="text/css" href="{{@asset_path}}css/style.min.css" />
	<script defer src="{{@asset_path}}js/zepto.min.js"></script>
	<script defer src="{{@asset_path}}js/script.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title id="page_title">{{@page_title}}</title>
	<link rel="icon" type="image/png" href="{{@favicon}}">
	<meta name="author" content="Ayesh Karunaratne" />
	<meta id="meta_description" name="description" content="{{@meta_description}}"/>
	<meta id="meta_keywords" name="keywords" content="{{@meta_keywords}}"/>
	<link rel="manifest" href="{{@base_path}}manifest.json">
	<check if="{{@meta_robots}}">
		<true>
			<meta id="meta_robots" name="robots" content="{{@meta_robots}}">
		</true>
	</check>
</head>
<body class="{{@body_classes}} is_loading">
<div class="section hero">
	<div class="container">
		<header class="row">
			<div class="column">
				<div id="logo"><a href="{{@base_path}}">{{@site_name}}</a></div>
				<h1>{{@site_slogan}}</h1>
			</div>
		</header>
		<div class="row">
			<div class="column">
				<form id="url-form" class="url-form" method="post" action="{{@form_action_url}}">
					<div class="ten columns">
						<input autofocus id="url-form-url" class="u-full-width input-text" name="url" required type="url" value="{{@form_default_url}}" placeholder="https://www.facebook.com/explosm/videos/10155258260425476/" autocorrect="off" autocapitalize="off" spellcheck="false" />
					</div>
					<div class="two columns">
						<button class="button-primary" value="Download" type="submit">Download</button>
					</div>
					<input name="token" value="{{@form_csrf_value}}" type="hidden">
				</form>
			</div>
		</div>
		<div id="results" class="row">

		</div>
		<div id="waiting" class="row">
			<div class="loading">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>
